{% if app.request.attributes.get('_route') != 'app_login' %}

    </div>
</div>
{# <footer>
    <div class="container justify-content-center">
        <p class="text-muted">
            &copy; {{ "now"|date("Y") }} - {{ 'DigitDoc.copyright'|trans }}
        </p>
    </div>
</footer> #}

{% endif %}