{% extends 'base.html.twig' %}
{% block title %}Nouveau personnel{% endblock %}

{% block body %}
<div class="container-fluid py-4 mt-5 pt-5">
    <div class="mt-4 pt-4">
        {{ include('agent/_form.html.twig', {btn_label: 'Créer le personnel', is_new: true}) }}
    </div>
</div>
{% endblock %}
